.container {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 71px;
    gap: 10px;

    position: absolute;
    width: 1038px;
    height: 788px;
    left: calc(20%);
    top: calc(15%);

    /* light blue light blue */
    background: #E8EEFF;

    /* purps */
    border: 5px solid #7E18FF;
    box-shadow: 0px 20px 10px -3px rgba(213, 213, 213, 0.4), inset 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 14px;

    width: 894px;
    height: 659px;

    order: 0;
    flex-grow: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px 0px;
    width: 894px;
    height: 98px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title {
    width: 235px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.41px;
    color: #1F1F1F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    order: 0;
    flex-grow: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 24px 0px;
    gap: 53px;
    width: 894px;
    height: 546px;
    background: #97B1FA;
    border-radius: 8px;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 14px;
    padding: 0px;
    order: 0;
    flex-grow: 0;
}

.label {
    text-align: start;
    align-self: center;
}


.testNetwork,
.supportedTokens,
.supportedNetworks,
.gatewayPlugin {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 14px;
    padding: 0px;
    order: 0;
    flex-grow: 0;
    width: 100%;
}

/* Adjust the height of each item */

.testNetwork,
.supportedTokens .gatewayPlugin {
    height: 46px;
}

.supportedNetworks {
    height: 138px;
}

.boxTest,
.boxToken,
.boxGateway {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Creates 2 columns of equal width */
    align-items: center;
    padding: 4px 0px;
    gap: 2px;
    width: 100%;
    /* The box will take up the full width of the right column */
    background: var(--color-notpurple);
    border-radius: 6px;
}

.boxNetwork {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* Create 3 rows of equal height */
    align-items: center;
    padding: 4px;
    gap: 10px;
    width: 100%;
    background: var(--color-notpurple);
    border-radius: 6px;
}

/* Set height for each box */

.boxTest,
.boxToken,
.boxGateway {
    height: 46px;
}

.boxNetwork {
    height: 136px;
}

/* Style for the text in the left column */

.leftText {
    justify-self: start;
    margin-left: 12px;
    /* Align the text to the left */
}

/* Style for the toggle switch in the right column */

.rightToggle {
    justify-self: end;
    /* Align the toggle switch to the right */
}