/* datepicker.module.css */

.button {
    border: 1px solid var(--color-ualert);
    background-color: var(--color-notpurple);
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-purps);
}

.button.active {
    background-color: var(--color-charyo);
}